* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
}
main{
  background-color: black;
  height:calc(100vh- 60px);
  overflow: auto;
  margin-top: 50px;
}

.container{
  width: 98%;
  max-width: 1380px;
  margin: 0 auto;
}
.row{
  display: flex;
  flex-wrap:wrap;
}
img{
  max-width: 100%;
  width: 170px;
  height: 100px;
  
}
.col{
  
  width: calc(100% / 7);
  
}
.card {
  margin-bottom: 20px;
  padding: 0 10px;
}
.card .card-images{
    position: relative;
    
}

.card .card-images .badges{
  position: absolute;
  bottom: 100px;
  left: 0;
  background-color:black;
  color: white;
  height: 70px;
  width: 70px;
}
.footer{
  position: relative;
}
.topbar{
  background-color: black;
  height: 60px;
  position: fixed;
  width: 98%;
  bottom: 0;
  
  

}
.topbar .container{
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-top: 10px;
  display: flex;
  list-style: none;
} 
.d-flex{
  display: flex;
  
}

.icons{
  color: white;
  align-items: center;
  justify-content: space-around;
  
}
